<!DOCTYPE html>
<html>
	<head>
		<title>Shoot'Steroids</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		
		<script src="socket.io/socket.io.js"></script>
<!--
		<style>
			.players {
				z-index: 5;
				position: absolute;
				padding-top: 10px;
				padding-right: 10px;
				left: 530px;
				text-align: right;
				font-size: 1em;
				color: white;
			}
			#chat-text {
				width: 640px;
				height: 100px;
				overflow-y: scroll;
				font-family: Kenvector Future Thin;
				font-size: 0.6em;
			}
			#chat-input {
				width: 636px;
			}
		</style>
-->
	</head>

	<body>
		<!--
		<span id="players" class="players"></span>
		<canvas id="game" width="640" height="480"></canvas>
		
		<div id="chat-text">
			<p>Hello!</p>
		</div>
		<form id="chat-form">
			<input id="chat-input" type="text"></input>
		</form>
		-->
		<script src="/js/game.js"></script>
		
<!--
		<script>
			let plImage = new Image();
			plImage.src = "/images/playerShip2_red.png";
			let bgImage = new Image();
			bgImage.src = "/bgs/darkPurple.png";

			let chatText = document.getElementById("chat-text");
			let chatInput = document.getElementById("chat-input");
			let chatForm = document.getElementById("chat-form");

			let ctx = document.getElementById("game").getContext("2d");
			ctx.font = "14px Kenvector Future";

			let drawSprite = (image, x, y, rotation) => {
				ctx.save();
				ctx.translate(
					x + image.width * 0.5,
					y + image.height * 0.5
				);
				ctx.rotate(rotation);
				
				ctx.drawImage(
					image,
					0, 0,
					image.width, image.height,
					-image.width * 0.5,
					-image.height * 0.5,
					image.width, image.height
				);

				ctx.restore();
			};

			let socket = io();
			socket.on("playerCount", data => {
				document.getElementById("players").innerHTML = "Players: " + data;
			});

			socket.on("positions", data => {
				ctx.clearRect(0, 0, 640, 480);
				// draw background
				let bg = ctx.createPattern(bgImage, "repeat");
				ctx.fillStyle = bg;
				ctx.fillRect(0, 0, 640, 480);

				// draw players
				for(let i = 0; i < data.players.length; i++) {
					//ctx.fillText(data[i].number, data[i].x, data[i].y);
					drawSprite(plImage, data.players[i].x, data.players[i].y, data.players[i].rotation);
				}
				// draw bullets
				ctx.fillStyle = "red";
				for(let i = 0; i < data.bullets.length; i++) {
					ctx.fillRect(data.bullets[i].x-2,data.bullets[i].y-2,4,4);
				}
			});

			socket.on("reciveChatMsg", data => {
				chatText.innerHTML += "<p>" + data + "</p>";
			});

			chatForm.onsubmit = e => {
				e.preventDefault();
				socket.emit("sendChatMsg", chatInput.value);
				chatInput.value = '';
			};

			document.onkeydown = function(e) {
				if(e.keyCode === 68) {
					socket.emit("keyState", {key: 'right', state: true});
				}
				if(e.keyCode === 83) {
					socket.emit("keyState", {key: 'down', state: true});
				}
				if(e.keyCode === 65) {
					socket.emit("keyState", {key: 'left', state: true});
				}
				if(e.keyCode === 87) {
					socket.emit("keyState", {key: 'up', state: true});
				}
				if(e.keyCode === 32) {
					socket.emit("keyState", {key: 'shoot', state: true});
				}
			};

			document.onkeyup = function(e) {
				if(e.keyCode === 68) {
					socket.emit("keyState", {key: 'right', state: false});
				}
				if(e.keyCode === 83) {
					socket.emit("keyState", {key: 'down', state: false});
				}
				if(e.keyCode === 65) {
					socket.emit("keyState", {key: 'left', state: false});
				}
				if(e.keyCode === 87) {
					socket.emit("keyState", {key: 'up', state: false});
				}
				if(e.keyCode === 32) {
					socket.emit("keyState", {key: 'shoot', state: false});
				}
			};
		</script>
-->
	</body>
</html>